{% extends 'layout/layout.twig' %}

{% block content %}
<div>
   <table>
      <thead>
	 <th>#</th>
	 <th>CI</th>
	 <th>Nombre</th>
	 <th>AP</th>
	 <th>AM</th>
      </thead>
      <tbody id="all_medicos">
      </tbody>
   </table>
</div>
{% endblock %}
